*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/Manifest.toml
/dev/
/docs/build/
/docs/site/
/benchmark/tune.json
/benchmark/Manifest.toml
.benchmarkci/
.idea/*
.vscode/*
test/experiments.jl
/extras/.ipynb_checkpoints/*
.Rproj.user
